@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model</h1>
    <br />
    @if (User?.Identity?.IsAuthenticated ?? false) {
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
    }
    <br />

    <p>
        <br />
        Learn about <a href="https://learn.microsoft.com/aspnet/core"> Web app builded with ASP.NET Core</a>.</p>
</div>
