@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>School project for programming. Developing a school classification application in C# ASP.NET Core for Azure with multiple groups and roles. Login, classification and assignment of roles for students/teachers and admin. SQL server setup and database creation. Josef Kleveta</p>
